table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background-color: #eee;
    color: #333;
}

th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

button {
    font-size: x-small;
}

button.delete {
    padding: 10px;
    border: 1px solid #111;
    background-color: #f3a0a0;
}

button.delete:hover {
    cursor: pointer;
    background-color: #f5d2d2;
}

@media (min-width: 576px) {
    table {
      width: 70%;
    }
  }
  
  @media (min-width: 720px) {
    table {
      width: 50%;
    }
  }
  
  @media (min-width: 960px) {
    table {
      width: 40%;
    }
  }
  
  @media (min-width: 1140px) {
    table {
      width: 30%;
    }
  }